@media screen and (max-width: 776px) {

    body {
        margin: 0;
        padding: 0;
        background-image: url(/assets/img/drinks_background.jpg);
    }

    .header-bebidas {
        text-align: center;
        background-color: #ffe940;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 20px;
        
    }

    .section-bebidas ul {
        list-style: none;
        color: white;
        font-size: 18px;
        background-color: rgb(0, 0, 0, 0.9);
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .section-bebidas li {
        padding-top: 10px;
    }

}