@media screen and (max-width: 776px) { 

    body {
        margin: 0;
        padding: 0;
    }
    
    .header-pasteis {
        text-align: center;
        background-color: #ffe940;
        padding: 10px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .section-pasteis ul {
        list-style: none;
        color: white;
        font-size: 18px;
        background-color: rgb(0, 0, 0, 0.9);
        padding-top: 5px;
        padding-bottom: 5px;
    }
}