@media screen and (max-width: 776px) { 

    body {
        margin: 0px;
        padding: 0px;
        background-image: url(/assets/img/pastel_fundo.jpg);
        background-position: center bottom;
        background-attachment: fixed;
        box-sizing: border-box;
        background-repeat: no-repeat;
        font-family: 'Noto Sans Georgian', sans-serif;
        font-family: 'Noto Serif Georgian', serif;
    }

    .header-pasteis {
        background-color: #ffe940;
        padding: 3px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 18px;
    }

    .section-pasteis {
        padding: 1px; /* Padding de 1px para acupar a tela toda...*/
        background-color: rgb(0, 0, 0, 0.9);
        padding-bottom: 10px;
        width: 100vw;
        height: 100vh;
    }

    .section-pasteis ul {
        list-style: none;
        color: white;
        font-size: 18px;
        padding-top: 5px;
        text-align: left;
        display: flex;
        flex-wrap: wrap;
        align-items:flex-end;
    }

    .section-pasteis li {
        padding: 10px;
        border-bottom: 2px solid white;
        width: 240px;
    }

    .section-pasteis span {
        color: #ffe940;
    }

    .adicionais {
        text-align: center;
        color: white;
        font-weight: bold;
        text-decoration: underline;
        font-size: 25px;
    }


    /* Botão de voltar..*/
    
    
    .voltar {
        display: flex;
        align-items: center;
        justify-content: left;  
        left: 15px;
        margin: 0;
        bottom: 10px;
        position: fixed;
    }

    .voltar button {
        border: 2px solid red;
        background-color: yellow;
        border-radius: 15px;
    }

    .voltar button a {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        color: red;
        font-weight: bolder;
        padding: 3px;
        text-decoration: none;
        text-transform: uppercase;
    }

    .voltar button a:hover {
        cursor: pointer;
    }

    .bi-arrow-left {
        font-weight: bolder;
        color: red;
        font-size: 25px;
    }
    
}