body {
    background-color: #ccc;
}


@media screen and (max-width: 576px) {
    
    body {
        background-color: #ccc;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }




}
